body
{
background: white url('images/voteb11.jpg') ;  //white; 
}
div#d1
{background: white;
border :0px solid black;
position:absolute;
left:0px;
top:0px;
height:150px;
width: 100%;
color: black;
font-size:40px;
font-weight:bold;
font-family:Monotype Corsiva;
}

div#dt
{
border : 0px solid black;
position:absolute;
left:200px;
top:0px;
height:150px;
width:966px;
color: #000066;
font-size:40px;
font-weight:bold;
font-family: Centaur;
background:white;
}
div#d2
{
background:white;
border : 3px solid #000066;
position:absolute;
border-radius:0px 0px 50px 50px;
left:0px;
top:197px;
height:398px;
width:50%;
color: #000066;
font-size:40px;
font-weight:bold;
font-family: Centaur;
}
div#d3
{
background:white;
border : 3px solid #000066;
position:absolute;
border-radius:0px 0px 0px 0px;
right:0px;
top:197px;
z-index:-1;
height:95%;//398px;
width:50%;
color: #000066;
font-size:25px;
font-weight:bold;
font-family: Centaur;

}

div#t
{
position:absolute;
top:10px;
left:100px;
border:0px solid black;
}
img#img1
{
width:200px;
height:150px;
}
img.t1
{
width:50%px;
height:30%px;
}

input#i3
{ 
//border-radius :10px;
border:0px ;
border-radius:5px;
background:lime;  //url('images/bg1.jpg');
height:30px;
width: 200px;
color:white;
font-size:20px;
//position:absolute;
//left:8px;
//bottom:12px;
}
input#i10
{ 
//border-radius :10px;
border:0px ;
border-radius:5px;
background:lime;  //url('images/bg1.jpg');
height:30px;
width: 200px;
color:white;
font-size:20px;
//position:absolute;
//left:8px;
//bottom:12px;
}
a
{
position:absolute;
top:150px;
width:50%;
background:#000066;
color:white;
border-radius:0px ;//5px 5px 5px;
height:50px;
font-size:50px;
text-align:center;
}
a#a1
{
left:0px;
}
a#a2
{
right:0px;
}
a:hover {
    background-color: orange;
}

#ipbranch
{
	position:absolute;
	
}